.subBreed {
    margin-left: 2em;
}

.breedCard {
    color: #000;
    text-decoration: none;
}

.breedCard > h2 {
    word-wrap: break-word;
}

.imageContainer {
    width: 100%;
}

.spinner {
    margin: auto;
}

