.subBreed {
    margin-left: 2em;
}

.breedCard {
    color: #000;
    text-decoration: none;
    margin: 0.5em;
}

.breedCard > h2 {
    word-wrap: break-word;
}

.imageContainer {
    width: 100%;
}

.spinner {
    margin: auto;
}

.cardTitle > input {
    margin-right: 0.5em;
}

.subBreed {
    list-style-type: none;
}
